<% layout('layouts/boilerplate')%>

    <h1 class="text-center">Login to Stadium Scout</h1>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="/stylesheets/images/loginImage.jpg" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Enter login information</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username"
                                    placeholder="Enter username" required>
                                <div class="invalid-feedback">
                                    Please enter a username!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password"
                                    placeholder="Enter password" required>
                                <div class="invalid-feedback">
                                    Please enter a password!
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                        </form>
                    </div>
                </div>
                <div class="card shadow loginRegisterBox">
                    <div class="card-body align-items-center d-flex justify-content-center">
                    <p class="loginRegisterBoxText">New to Stadium Scout?
                        <a class="btn btn-primary" href="/register">Register</a>
                    </p>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>